@mixin mood-negative($value) {
    height: $value * 8;
    margin-top: 80px;
    margin-bottom: (10 - $value) * 8;
}

@mixin mood-positive($value) {
    height: $value * 8;
    margin-bottom: 80px;
    margin-top: (10 - $value) * 8;
}

.mood_graph {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    .day {
	width: 12px;
	border: 1px solid $gray-lighter;

	&.mood--10 {
	    @include mood-negative(10px);
	}
	&.mood--9 {
	    @include mood-negative(9px);
	}
	&.mood--8 {
	    @include mood-negative(8px);
	}
	&.mood--7 {
	    @include mood-negative(7px);
	}
	&.mood--6 {
	    @include mood-negative(6px);
	}
	&.mood--5 {
	    @include mood-negative(5px);
	}
	&.mood--4 {
	    @include mood-negative(4px);
	}
	&.mood--3 {
	    @include mood-negative(3px);
	}
	&.mood--2 {
	    @include mood-negative(2px);
	}
	&.mood--1 {
	    @include mood-negative(1px);
	}
	&.mood-0 {
	    @include mood-positive(0px);
	}
	&.mood-1 {
	    @include mood-positive(1px);
	}
	&.mood-2 {
	    @include mood-positive(2px);
	}
	&.mood-3 {
	    @include mood-positive(3px);
	}
	&.mood-4 {
	    @include mood-positive(4px);
	}
	&.mood-5 {
	    @include mood-positive(5px);
	}
	&.mood-6 {
	    @include mood-positive(6px);
	}
	&.mood-7 {
	    @include mood-positive(7px);
	}
	&.mood-8 {
	    @include mood-positive(8px);
	}
	&.mood-9 {
	    @include mood-positive(9px);
	}
	&.mood-10 {
	    @include mood-positive(10px);
	}

	&.good {
	    background: $brand-success;
	    border: 1px solid darken($brand-success, 15%);
	}

	&.normal {
	    background: $brand-warning;
	    border: 1px solid darken($brand-warning, 15%);
	}

	&.bad {
	    background: $brand-danger;
	    border: 1px solid darken($brand-danger, 15%);
	}

	&.empty {
	}
    }

    .day + .day::before {
	height: 160px;
	content: '';
	width: 1px;
	position: absolute;
	top: 0px;
	margin-left: -2px;
	background: #eeeeec;
    }
}
